<%- include("partials/header"); -%>

<h1 style="color: rgb(243, 69, 26);">Transaction Failed  !!!</h1>
<br>
<h4> Seems you are giving invalid input !</h4>
<h4>try again with valid input ! </h4>
<br>

<button class="btn btn-warning btn-lg btn"><a href="/transfer">Try Again</a> </button>

<%- include("partials/footer"); -%>