
<%- include("partials/header"); -%>



  <button type="submit" class="btn btn-warning btn-lg btn1" ><a href="/customers">Customer List</a> </button>



  <button type="submit" class="btn btn-warning btn-lg btn2"><a href="/transfer">Tranfer Money</a> </button>


  <button type="submit" class="btn btn-warning btn-lg btn3" ><a href="/transaction">Transaction History</a> </button>

  <img src="download.png" alt="bank">




<%- include("partials/footer"); -%>
