<%- include("partials/header"); -%>

<h1 style="color: rgb(155, 233, 38);">sucessful transaction !!</h1>
<br>
<button  class="btn btn-warning btn-lg btn" ><a href="/transaction">Transaction History</a> </button>


<%- include("partials/footer"); -%>